/* GRID Preview */
#showGrid{
    opacity: 0;
    width: calc(100% - 100px);
    margin: 0 auto;
    height: 100%;
    position: fixed;
    top:0;
    background-size: 8.33333333333%;
    background-image:
      linear-gradient(to right, rgba(255,0,0,0.3) 1px, transparent 1px);
    z-index: -1;
    border-right: 1px solid rgba(255,0,0,0.01);
}

#showGrid.active{
    opacity: 1;
}