<header class="global-wrapper">
  <div>
    <h1><a [routerLink]="['/']">Steffen Muldbjerg</a></h1>
    <span>Frontend Developer <span class="company">- Luxion</span></span>
    <nav class="mainHeader" [ngClass]="this.showMobileMenu ? 'open' : ''">
      <ul>
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="this.toggleMenu()"
            >Home</a
          >
        </li>
        <!-- <li>
          <a
            [routerLink]="['/play']"
            routerLinkActive="active"
            (click)="this.toggleMenu()"
            >Play</a
          >
        </li> -->
        <li>
          <a
            [routerLink]="['/blog']"
            routerLinkActive="active"
            (click)="this.toggleMenu()"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <div class="mobileMenuButton" [ngClass]="this.showMobileMenu ? 'open' : ''">
    <button (click)="this.toggleMenu()" aria-label="Menu">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
  <div
    class="mobileMenuBackground"
    (click)="this.toggleMenu()"
    [ngClass]="this.showMobileMenu ? 'open' : ''"
  ></div>
</header>
