<div class="experience">
  <div>
    <h2>In the wild</h2>
    <img class="experience-arrow" src="assets/images/arrow.webp" alt="" />
  </div>
  <div class="position-list">
    <div class="position">
      <div class="title">
        <h3>Luxion</h3>
        <span>2022 - </span>
      </div>
      <div class="content">Frontend developer</div>
    </div>
    <div class="position">
      <div class="title">
        <h3>Bibliotheca</h3>
        <span>2016 - 2022</span>
      </div>
      <div class="content">Frontend developer & UX designer</div>
    </div>
    <div class="position">
      <div class="title">
        <h3>Aarhus University</h3>
        <span>2015 - 2020</span>
      </div>
      <div class="content">Masters Degree in IT Product Development</div>
    </div>
    <div class="position">
      <div class="title">
        <h3>Adhost</h3>
        <span>2014 - 2016</span>
      </div>
      <div class="content">Digital designer & Frontend developer</div>
    </div>
  </div>
</div>
