---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
  title="Blog by Steffen Muldbjerg"
  description="I share experiments, designs and code snippets from my chair as a Frontend developer building KeyShot"
>
  <div class="global-wrapper">
    <section class="blog-feed">
      {
        posts.map((post) => (
          <article class="feed-card">
            <a href={`/blog/${post.slug}/`}>
              <div class="card-image">
                <img src={post.data.heroImage} alt="" />
              </div>
              <div class="card-content">
                <h2>{post.data.title}</h2>
                <p>{post.data.description}</p>
              </div>
            </a>
          </article>
        ))
      }
    </section>
  </div>
</BaseLayout>

<style lang="scss">
  .blog-feed {
    padding-top: 200px;
    width: 80%;
  }

  .feed-card {
    a {
      display: grid;
      grid-template-columns: 25vw 1fr;
      padding: 48px;
      column-gap: 5vw;
      border-bottom: 1px solid
        color-mix(in srgb, var(--main-color) 20%, transparent);
      text-decoration: none;

      h2 {
        color: var(--main-color);
        line-height: 1.2;
        margin-bottom: 32px;
        margin-top: 16px;
        font-weight: 400;
        font-size: 2.5rem;
        transition: all 0.1s ease-out;
        font-family: var(--headerFont);
      }

      p {
        color: var(--main-black);
        &::after {
          content: "";
          background-image: url("../../images/line.webp");
          height: 20px;
          width: auto;
          background-size: cover;
        }
      }

      .card-image {
        position: relative;
        min-width: 200px;

        img {
          border-radius: 8px;
        }

        &::after {
          opacity: 0;
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(
            90deg,
            rgba(229, 241, 224, 0) 0%,
            rgba(229, 241, 224, 0.6) 100%
          );
          background: linear-gradient(
            90deg,
            color-mix(in srgb, var(--main-color) 0%, transparent) 0%,
            color-mix(in srgb, var(--background-color) 80%, transparent) 100%
          );
          transition: all 0.2s ease-out;
        }
      }
    }

    &:last-of-type a {
      border: none;
    }

    @media (hover: hover) {
      &:hover h2 {
        transform: translateX(-6.5vw);
      }

      &:hover a .card-image::after {
        opacity: 1;
      }
    }
  }

  // MEDIUM SIZE SCREENS
  @media only screen and (max-width: 1100px) {
    .blog-feed {
      padding-top: 200px;
      width: 100%;
    }

    .feed-card a .card-image {
      min-width: unset;
    }
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 640px) {
    .blog-feed {
      padding-top: 120px;
    }

    .feed-card {
      &:first-of-type {
        a {
          grid-template-columns: 1fr;
          gap: 16px;
        }
      }

      a {
        padding: 48px 0;

        h2 {
          margin-top: 4px;
          margin-bottom: 16px;
          font-size: 1.75rem;
        }
      }

      @media (hover: hover) {
        &:hover h2 {
          transform: translateX(-7vw);
        }
      }
    }
  }
</style>
