<h2
  class="herospot"
  [class.touch]="this.isTouchDevice()"
  [class.safari]="this.isSafari"
>
  Friendly interfaces
  <div>
    <div class="model">
      <div class="model-buttons">
        <p></p>
        <p></p>
        <p></p>
      </div>
      <img
        src="assets/images/3d-model-clay.webp"
        class="model-clay"
        [ngStyle]="imgTransform"
        alt="3D image"
        title="3D image with a clay look"
        style="transform: 'translateX(0px) translateY(0px)'"
      />
      <img
        src="assets/images/3d-model.webp"
        class="model-rendered"
        [ngStyle]="this.isTouchDevice() ? imgOpacity : imgTransform"
        alt="3D image rederended with texture"
        title="3D image rederended with a furry texture and a chrome texture"
        style="transform: 'translateX(0px) translateY(0px)'"
      />
      <div style="clear: 'both'; width: '100%'"></div>
    </div>
    for KeyShot
  </div>
  <div class="mobileTitle">Friendly interfaces for KeyShot</div>
</h2>
