<h2 id="herospot">
  Friendly interfaces
  <div>
    <div className="model">
      <div className="model-buttons">
        <p></p>
        <p></p>
        <p></p>
      </div>
      <img
        src="/src/assets/images/3d-model-clay.webp"
        className="model--clay"
        alt=""
        style="transform: 'translateX(0px) translateY(0px)'"
      />
      <img
        src="/src/assets/images/3d-model.webp"
        className="model--rendered"
        alt=""
        style="transform: 'translateX(0px) translateY(0px)'"
      />
      <div style="clear: 'both'; width: '100%'"></div>
    </div>
    for KeyShot
  </div>
</h2>
