<div class="about">
  <div class="about-image mobile">
    <div class="about-image-mask">
      <div class="img1"><img src="assets/images/Portrait.webp" alt="" /></div>
    </div>
  </div>
  <div class="about-text">
    <img src="assets/images/line.webp" alt="" />
    <h2>Hi, I’m Steffen. I’m a frontend developer focused on nice UX</h2>
    <p>
      My work blends between frontend
      <span>
        code
        <img src="assets/images/backforward-arrow.webp" alt="" />
        design.
      </span>
      I’m currently with the team at Luxion building KeyShot.
    </p>
    <p>
      I have a master’s in IT Product Development, and am interested every
      corner of good user experiences.
    </p>
    <p>
      I have helped companies like LEGO, Coop, AROS, Knuthenborg Safaripark and
      more, be a little more friendly.
    </p>
  </div>
  <div class="about-image">
    <div class="about-image-mask">
      <div class="img1"><img src="assets/images/Portrait.webp" alt="" /></div>
    </div>
  </div>
</div>
