.blogpostcard{
    margin-top: 174px;
}

.blogpostcard:nth-child(even){
    clear: both;
}

.blogpostcard-content h2{
    clear: both;
    margin-top: 16px;
    font-size: 2.2rem;
    line-height: 1.1;
    font-family: "EB Garamond", serif;
    font-weight: normal;
    transform: translateX(-3px);
}

.blogpostcard-content p{
    margin: 0px;
    /* margin-top: 16px; */
}

.blogpostcard-content .excerpt{
    margin-top: 40px;
}

.blogpostcard-content .blogpost-meta{
    padding-top: 40px;
}

main .blogpostcard a::after{
    display: none;
}




/* TOPPOST */
.toppost {
    margin-top: 160px;
}

.toppost .blogpostcard-image{
    width: 41.6666666667%;
    float: left;
}

.toppost .blogpostcard-content h2{
    font-size: 3.4rem;
    line-height: 1;
}

.toppost .blogpostcard-content{
    float: left;
    width: 50%;
    padding-top: 32px;
    padding-left: 8.33333333333%;
}

@media (max-width: 768px) {
    .blogpost-meta{
        padding-top: 24px;
    }

    .toppost .blogpostcard-image{
        width: 100%;
    }
    
    .toppost .blogpostcard-content{
        float: left;
        width: 100%;
        padding-left: 0%;
    }

}