/* GLOBAL LAYOUT */
.global-wrapper {
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: var(--maxWidth-wrapper);
}

/* GLOBAL HEADER */

header{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-top: 20px;
}

header h1, header h2, header nav{
  font-size: var(--fontSize-root);
}

header h2{
  text-align: center;
}

header nav {
  text-align: right;
}

header nav li{
  display: inline-block;
}

header nav li a{
  padding: 20px;
}

header nav li a::after{
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 4px;

  background-color: #DB7725;
  border-radius: 20px;
  margin-top: 5px;

  /* top: 50%; */
  left: calc(50%);
  transform: translate( calc(50%), 0);

  transition: all 0.2s ease;
}


header nav li a.active::after{
  width: 10px;

  left: calc(50% - 5px);
  transform: translate( calc(50% - 5px), 0);
}

header nav li a:hover::after{
  width: 50%;

  left: 25%;
  transform: translate(0px)
}

/* GLOBAL FOOTER */
