/* GLOBAL LAYOUT */
.global-wrapper {
  width: 96%;
  margin: 0 auto;
  max-width: var(--maxWidth-wrapper);
}

.all-content{
  min-height: calc(100vh - var(--footer-height));
}

/* GLOBAL HEADER */
.global-header{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 30px 0;
}

.main-heading{
  font-family: "Crimson Text", serif;
  font-weight: normal;
  line-height: 0.9;
  font-size: 6vw;
}

.global-header span.main-heading-underline{
  position: relative;
  display: inline-block;
  font-style: normal;
}

.global-header span.main-heading-underline::after{
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  left: -10px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: -42px;
  z-index: -1;
  background-image: url(../../images/title-line.svg);
  /* background-image: url("../../images/title-line.svg"); */

}

.global-header span{
  font-style: italic;
}

.main-nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: right;
}

.main-nav ul li{
  display: inline-block;
}

.main-nav ul li a{
  position: relative;
  padding: 20px;
  text-decoration: none;
  /* border-bottom: 2px solid #12D626; */
}

.main-nav ul li:last-child a{
  padding-right: 0px;
}

.main-nav ul li a.active::after{
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 5px;
  border: 2px solid;
  border-image: linear-gradient(90deg, #173E3C 0%, #173E3C 24%, #F6B1C2 25%, #F6B1C2 49%, #F4F2EA 50%, #F4F2EA 74%, #12D626 75%) 1;
}

.main-nav ul li:last-child a.active::after{
  width: calc(100% - 10px);
}


/* GLOBAL FOOTER */
.global-footer{
  height: var(--footer-height);
  font-size: 75%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  margin-top: 240px;
}

.global-footer-left{
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
}

.global-footer-left .copyright{
  margin-top: 8px;
  font-size: 80%;
}

.global-footer-right{
  padding-left: 50px;
  padding-top: 10px;
}

.global-footer-center{
  background: linear-gradient(90deg, #173E3C 0%, #173E3C 24%, #F6B1C2 25%, #F6B1C2 49%, #F4F2EA 50%, #F4F2EA 74%, #12D626 75%);
}


