/* GLOBAL LAYOUT */
.global-wrapper {
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: var(--maxWidth-wrapper);
}

/* GLOBAL HEADER */

header{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  /* display: flex;
  justify-content: space-between;
  align-items: baseline; */
  padding-top: 20px;
}

header h1, header h2, header nav{
  font-size: var(--fontSize-root);
}

header h2{
  text-align: center;
}

header nav {
  text-align: right;
}

header nav li{
  display: inline-block;
}

header nav li a{
  padding: 20px;
}

header nav li a.active::after{
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 4px;
  background-color: #f60;
}

/* GLOBAL FOOTER */
