:root {
  --fontFamily: "Apfel Grotezk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --headerFont: "Redaction35", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --fontSize-root: clamp(1.25rem, 1.3vw, 2rem);
  --lineHeight-normal: 1.65;

  --main-black: #2d2001;
  --background-color: #e9e8e0;
  --contrast-color: #1f39ff;
  --main-color: #8b6a1d;

  @media (prefers-color-scheme: dark) {
    --background-color: #383732;
    --main-color: #d4b368;
    --main-black: #f0f0f0;
    --contrast-color: #5e70f6;
  }

  --maxWidth-wrapper: 2560px;
  --footer-height: 100px;

  --global-padding-default: 60px;
  --global-padding-small: 20px;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2"),
    url("/fonts/ApfelGrotezk-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2"),
    url("/fonts/ApfelGrotezk-Fett.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Ortica";
  src: url("/fonts/Ortica-Light.woff2") format("woff2"),
    url("/fonts/Ortica-Light.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction35";
  src: url("/fonts/redaction-35-normal.woff2") format("woff2"),
    url("/fonts/redaction-35-normal.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--fontFamily), verdana, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  font-size: var(--fontSize-root);
  background-color: var(--background-color);
  color: var(--main-black);
}

a,
a:visited {
  color: var(--contrast-color);
  text-decoration: none;
  transition: all 0.15s ease-out;
}

@media (hover: hover) {
  a:hover {
    text-decoration: var(--contrast-color) wavy underline;
    text-decoration-thickness: 1.4px;
    text-underline-offset: 6px;
  }
}

img {
  height: auto;
}

.global-wrapper {
  width: calc(100% - calc(var(--global-padding-default) * 2));
  margin: 0 auto;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

// MEDIUM SIZE SCREENS
@media only screen and (max-width: 1100px) {
}

// SMALL SIZE SCREENS
@media only screen and (max-width: 640px) {
  .global-wrapper {
    width: calc(100% - calc(var(--global-padding-small) * 2));
  }
}
