---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Work by Steffen Muldbjerg">
  <div class="global-wrapper">
    <div class="work">
      <h1>Work</h1>
      <p>There is more to come for the page</p>
    </div>
  </div>
</BaseLayout>

<style>
  .work {
    height: 50vh;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
