.about{
    background-color: hsla(126, 84%, 45%, 0.1);
    transition: all 0.3s ease;
}

.about .header-link-home{
    color: #1C4921;
}


@media (hover: hover) {
    .about .header-link-home:hover{
        color: var(--main-black);
    }
}

.about-top-image{
    margin-top: 140px;
}

.about-top-text{
    margin-top: 260px;
}

.about-top-text h1{
    font-family: "Crimson Text", serif;
    font-weight: normal;
    color: #1C4921;
    font-size: 5vw;
    line-height: 0.95;
}

.about-top-text h1 span{
    font-style: italic;
}

.about-top-text p{
    width: 80%;
    margin-top: 30px;
}

.about-top-text p:first-of-type{
    margin-top: 50px;
}

.about-top-image-circle{
    position: absolute;
    z-index: 9;
    right: 0px;
    margin-top: 60px;
}

.about-top-image-circle svg{
    width: 100%;
    
}