.index-title{
    text-align: center;
    font-size: 7vw;
    margin-top: 120px;
}

.index-title span{
    display: block;
    clear: both;
    margin-left: 200px;
}

.model{
    position: relative;
    background-color: #f60;
    background-color: rgb(229,229,229);
    background-color: linear-gradient(150deg, rgba(229,229,229,1) 0%, rgba(200,200,200,1) 100%);
    width: 32vw;
    height: 16vw;
    margin: 0 auto;
    display: inline-table;
    border-radius: 12px;
    margin-right: 48px;
    top: -8vw;

    transition: all 0.3s ease;
}

.model-clay,
.model-rendered{
    position: absolute;
    width: 100%;
    transform: translateY(-70px);
}

.model-rendered{
    opacity: 0;
    transition: all 0.3s ease;
    /* transition: all 0.3s ease, opacity 0.1s ease; */
}

.index-title:hover .model-rendered{
    opacity: 1;
}

.index-title:hover .model{
    background-color: rgb(190,214,183);
    background-color: linear-gradient(150deg, rgba(190,214,183,1) 0%, rgba(174,194,167,1) 100%);
}