<div class="blog-feed">
  <article class="feed-card" *ngFor="let post of postRoutes">
    <a
      [routerLink]="post.data?.['attributes'].slug"
      *ngIf="!post.data?.['attributes'].draft"
    >
      <div class="card-image">
        <img [src]="post.data?.['attributes'].featureImage" alt="" />
      </div>
      <div class="card-content">
        <h2>
          {{
            post.data?.['attributes'].title
          }}
        </h2>
        <p>{{ post.data?.['attributes'].excerpt }}</p>
      </div>
    </a>
  </article>
</div>
