.blog-feed {
  padding-top: 200px;
  width: 80%;
}

.feed-card {
  a {
    display: grid;
    grid-template-columns: 25vw 1fr;
    padding: 48px;
    column-gap: 5vw;
    border-bottom: 1px solid #b2d1a7;
    text-decoration: none;

    h2 {
      color: #173c0b;
      line-height: 1.2;
      margin-bottom: 32px;
      margin-top: 16px;
      font-weight: 400;
      font-size: 2.5rem;
      transition: all 0.15s ease-in-out;
    }

    p {
      color: #49653f;
      &::after {
        content: "";
        background-image: url("../../../../assets/images/line.webp");
        height: 20px;
        background-color: #f60;
        width: auto;
        background-size: cover;
      }
    }
  }

  &:last-of-type a {
    border: none;
  }

  @media (hover: hover) {
    &:hover h2 {
      transform: translateX(-7vw);
    }
  }
}

// MEDIUM SIZE SCREENS
@media only screen and (max-width: 1100px) {
  .blog-feed {
    padding-top: 200px;
    width: 100%;
  }
}

// SMALL SIZE SCREENS
@media only screen and (max-width: 640px) {
  .blog-feed {
    padding-top: 120px;
  }

  .feed-card {
    a {
      padding: 40px 0;

      h2 {
        margin-bottom: 24px;
        font-size: 1.75rem;
      }
    }

    @media (hover: hover) {
      &:hover h2 {
        transform: translateX(-7vw);
      }
    }
  }
}
