---
import { Image } from "astro:assets";
import footerIllu from "../images/footer-illu.webp";
---

<div class="global-wrapper">
  <footer class="footer">
    <div class="footerContent">
      <p class="footerDescription">
        I’m Steffen Østerby Muldbjerg, frontend developer at KeyShot. I build
        digital products on the web. I believe digital products should be
        effectlessly simple to use.
      </p>
      <p class="footerColophon">
        This site is built with <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Astro</a
        >, hosted on <a
          href="https://www.netlify.com/"
          target="_blank"
          rel="noopener noreferrer">Netlify</a
        >, and typeset in Apfel Grotezk and Ortica both by <a
          href="https://www.collletttivo.it/"
          target="_blank" rel="noopener noreferrer">Collletttivo</a
        >.
      </p>
      <ul class="footerSocial">
        <li>
          <a href="https://www.instagram.com/muldbjerg/" target="_blank" rel="noopener noreferrer">
            Instagram
          </a>
        </li>
        <li>
          <a href="https://dribbble.com/muldbjerg" target="_blank" rel="noopener noreferrer">
            Dribbble
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/steffen-%C3%B8sterby-muldbjerg-b7b67421/"
            target="_blank" rel="noopener noreferrer">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
    <div class="footerIllustration">
      <Image src={footerIllu} alt="Illustration" />
    </div>
  </footer>
</div>

<style lang="scss">
  .footer {
    display: grid;
    grid-template-columns: 1fr 240px;
    column-gap: 42px;
    margin-top: 400px;
    padding-bottom: 50px;

    .footerContent {
      p {
        font-size: 1.5rem;
        max-width: 600px;
      }

      .footerColophon {
        font-size: 1.125rem;
        margin-top: 32px;
      }

      .footerSocial {
        margin-top: 120px;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 1rem;

          a {
            font-family: "Ortica", serif;
            padding: 8px 24px;
            color: var(--main-green);
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 40px;
            transition: all 0.1s ease;

            &:hover {
              background-color: #f5fdf1;
              border: 1px solid var(--main-green);
            }
          }
        }
      }
    }

    .footerIllustration {
      mix-blend-mode: color-burn;

      img {
        width: 100%;
        height: auto;
      }
    }

    @media (max-width: 1100px) {
      grid-template-columns: 1fr 240px;
    }

    @media (max-width: 890px) {
      .footerContent {
        .footerSocial {
          margin-top: 60px;
          li {
            display: block;
            margin-top: 20px;
          }
        }
      }
    }

    @media (max-width: 770px) {
      margin-top: 300px;
      grid-template-columns: 1fr;

      .footerContent {
        .footerSocial {
          margin-top: 60px;
          text-align: center;
          li {
            display: inline-block;
            margin-top: 0;
            margin-right: 1rem;
          }
        }
      }

      .footerIllustration {
        img {
          float: right;
          max-width: 40%;
          margin-top: 50px;
        }
      }
    }

    @media (max-width: 480px) {
      margin-top: 200px;

      .footerContent {
        .footerSocial {
          text-align: left;
          li {
            display: block;
            margin-top: 20px;
          }
        }
      }

      .footerIllustration {
        img {
          margin-top: -30px;
        }
      }
    }
  }
</style>
