---
import { Image } from "astro:assets";
import footerIllu from "../images/footer-illu.webp";
---

<div class="global-wrapper">
  <footer class="footer-container">
    <div class="footer-content">
      <p>
        I’m Steffen Østerby Muldbjerg, frontend developer at KeyShot. I build
        digitial products on the web. I believe digital products should be
        effectlessly simple to use.
      </p>
      <p class="colophon">
        This site is built with <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Astro</a
        >, hosted on <a
          href="https://www.netlify.com/"
          target="_blank"
          rel="noopener noreferrer">Netlify</a
        >, and typeset in Apfel Grotezk and Ortica both by <a
          href="https://www.collletttivo.it/"
          target="_blank"
          rel="noopener noreferrer">Collletttivo</a
        >.
      </p>
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/muldbjerg/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://dribbble.com/muldbjerg" target="_blank">Dribbble</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/steffen-%C3%B8sterby-muldbjerg-b7b67421/"
            target="_blank">Linkedin</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-illustration">
      <Image src={footerIllu} alt="" />
    </div>
  </footer>
</div>

<style lang="scss">
  footer.footer-container {
    display: grid;
    grid-template-columns: 1fr 240px 140px;
    column-gap: 42px;
    margin-top: 400px;
    padding-bottom: 50px;

    .footer-content {
      p {
        font-size: 1.5rem;
        max-width: 600px;
      }

      .colophon {
        font-size: 1.125rem;
        margin-top: 32px;
      }

      ul.social-links {
        margin-top: 120px;
        padding: 0px;

        li {
          display: inline-block;
          transform: translateX(-24px);

          a {
            font-family: "Ortica", serif;
            padding: 8px 24px;
            color: var(--main-green);
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 40px;
            transition: all 0.1s ease;
            margin-right: 16px;

            @media (hover: hover) {
              &:hover {
                background-color: #f5fdf1;
                border: 1px solid var(--main-green);
              }
            }
          }
        }
      }
    }

    .footer-illustration {
      mix-blend-mode: color-burn;
    }
  }

  // MEDIUM SIZE SCREENS
  @media only screen and (max-width: 1100px) {
    footer.footer-container {
      grid-template-columns: 1fr 240px;
    }
  }

  @media only screen and (max-width: 890px) {
    footer.footer-container {
      .footer-content {
        ul.social-links {
          margin-top: 60px;

          li {
            display: block;
            margin-top: 20px;
          }
        }
      }
    }
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 770px) {
    footer.footer-container {
      margin-top: 300px;
      grid-template-columns: 1fr;

      .footer-content {
        ul.social-links {
          margin-top: 60px;
          text-align: center;

          li {
            display: inline-block;
            margin-top: 0px;
          }
        }
      }

      .footer-illustration {
        img {
          float: right;
          max-width: 40%;
          margin-top: 50px;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    footer.footer-container {
      margin-top: 200px;

      .footer-content {
        ul.social-links {
          text-align: left;

          li {
            display: block;
            margin-top: 20px;
          }
        }
      }

      .footer-illustration {
        img {
          margin-top: -30px;
        }
      }
    }
  }
</style>
