---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    float: left;
    transition: color 0.15s ease;
  }

  a::after {
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    height: 4px;

    background-color: #7c2efa;
    border-radius: 20px;
    margin-top: 5px;

    /* top: 50%; */
    left: calc(50%);
    transform: translate(calc(50%), 0);

    transition: all 0.2s ease;
  }

  a.active::after {
    width: 10px;

    left: calc(50% - 5px);
    transform: translate(calc(50% - 5px), 0);
  }

  @media (hover: hover) {
    a:hover::after {
      width: 20%;

      left: 40%;
      transform: translate(0px);
    }
  }
</style>
