---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
  data-astro-prefetch="hover"
>
  <slot />
</a>

<style lang="scss">
  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    float: left;
    transition: color 0.15s ease-out;
    padding: 12px 16px;
    color: var(--main-color);
  }

  a.active {
    text-decoration: #191816 wavy underline;
    text-decoration-thickness: 1.4px;
    text-underline-offset: 6px;
    color: var(--main-black);
  }

  @media (hover: hover) {
    a:hover {
      text-decoration: #191816 wavy underline;
      text-decoration-thickness: 1.4px;
      text-underline-offset: 6px;
    }
  }

  // MEDIUM SIZE SCREENS
  @media only screen and (max-width: 1100px) {
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 640px) {
  }
</style>
