<div class="global-wrapper">
  <app-herospot></app-herospot>
  <div class="about-text">
    <p>
      Hey - I'm Steffen. For the last 10 years I have developed friendly digital
      interfaces.
    </p>
    <p>
      My work blends between frontend code ⭤ design. I’m currently with the team
      at Luxion building KeyShot.
    </p>
    <p>
      I have a master’s in IT Product Development, and is interested every
      corner of good user experiences.
    </p>
    <p>
      I have helped companies like LEGO, Coop, AROS, Knuthenborg Safaripark and
      more, be a little more friendly.
    </p>
  </div>
</div>
