<div class="global-wrapper">
  <app-herospot></app-herospot>

  <div class="home-info">
    <app-home-info></app-home-info>
  </div>
</div>

<div class="about">
  <app-about></app-about>
</div>

<div class="home-image-row">
  <div class="img1"><img src="assets/images/ipad.webp" alt="" /></div>
  <div class="img2"><img src="assets/images/aarhus.webp" alt="" /></div>
  <div class="img3"><img src="assets/images/draws.webp" alt="" /></div>
  <div class="img4"><img src="assets/images/colorwall.webp" alt="" /></div>
</div>

<div class="global-wrapper">
  <app-experience></app-experience>
</div>
