.home-info {
  position: fixed;
  float: right;
  z-index: 9;
  right: 80px;
  bottom: 240px;
}

.clearfix {
  width: 100%;
  height: 1px;
  clear: both;
}

.home-image-row {
  display: grid;
  grid-template-columns: 1.75fr 2.5fr 1.5fr 1.5fr;
  width: 100vw;
  column-gap: 65px;
  align-items: center;
  justify-content: center;
  margin-top: 260px;

  .img2 {
    object-fit: cover;
    object-position: right center;
    mask-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 556 556' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='601.004' y='278.002' width='456.794' height='456.794' rx='110' transform='rotate(135 601.004 278.002)' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 556 556' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='601.004' y='278.002' width='456.794' height='456.794' rx='110' transform='rotate(135 601.004 278.002)' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
}

// MEDIUM SIZE SCREENS
@media only screen and (max-width: 1100px) {
  .home-info {
    display: none;
  }

  .home-image-row {
    column-gap: 5vw;
  }
}

// SMALL SIZE SCREENS
@media only screen and (max-width: 640px) {
  .home-image-row {
    margin-top: 100px;
  }
}
