---
import { Image } from "astro:assets";
import arrow from "../../images/arrow.webp";
---

<div class="experience">
  <div>
    <h2>In the wild</h2>
    <Image class="experience-arrow" src={arrow} alt="" />
  </div>
  <div class="position-list">
    <div class="position">
      <div class="title">
        <h3>KeyShot</h3>
        <span>2022 -</span>
      </div>
      <div class="content">Frontend developer & Scrum master</div>
    </div>
    <div class="position">
      <div class="title">
        <h3>Bibliotheca</h3>
        <span>2016 - 2022</span>
      </div>
      <div class="content">UX designer & Frontend developer</div>
    </div>
    <div class="position">
      <div class="title">
        <h3>Aarhus University</h3>
        <span>2015 - 2020</span>
      </div>
      <div class="content">Masters Degree in IT Product Development</div>
    </div>
    <div class="position">
      <div class="title">
        <h3>Adhost</h3>
        <span>2014 - 2016</span>
      </div>
      <div class="content">Digital designer & Frontend developer</div>
    </div>
  </div>
</div>

<style lang="scss">
  .experience {
    display: grid;
    margin-top: 260px;
    grid-template-columns: 1fr 2fr;

    h2 {
      font-family: "Ortica";
      margin-top: 32px;
      font-weight: 400;
      font-size: 3.75rem;
    }

    .experience-arrow {
      margin-top: 20px;
      width: 40%;
      mix-blend-mode: color-burn;
    }

    .position {
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-bottom: 1px solid
        color-mix(in srgb, var(--main-color) 20%, transparent);
      align-items: center;
      padding: 48px;

      &:last-of-type {
        border: none;
      }

      .title {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        column-gap: 16px;
        align-items: center;

        h3 {
          font-size: 2.5rem;
          font-weight: 400;
          color: var(--main-color);
        }

        span {
          font-size: 1.25rem;
          color: color-mix(in srgb, var(--main-color) 40%, transparent);
        }
      }

      .content {
        color: color-mix(in srgb, var(--main-black) 80%, transparent);
      }
    }
  }

  // MEDIUM SIZE SCREENS
  @media only screen and (max-width: 1100px) {
    .experience {
      h2 {
        line-height: 1;
        font-size: 3.25rem;
      }

      .experience-arrow {
        width: 80%;
      }

      .position {
        padding: 28px;
        align-items: flex-start;
        column-gap: 5vw;
        grid-template-columns: 1fr 1fr;

        .title {
          grid-template-columns: 1fr;
          grid-auto-flow: row;

          h3 {
            font-size: 2rem;
            line-height: 2.25rem;
          }

          span {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 640px) {
    .experience {
      margin-top: 80px;
      grid-template-columns: 1fr;

      h2 {
        font-size: 3rem;
      }

      .experience-arrow {
        transform: rotate(90deg);
        float: right;
        margin-top: -50px;
        width: 32%;
        margin-bottom: 50px;
      }

      .position {
        padding: 28px 0px;
        align-items: flex-start;
        column-gap: 5vw;
        grid-template-columns: 1fr 1fr;
        font-size: calc(var(--fontSize-root) * 80%);
        line-height: 1.4;

        .title {
          grid-template-columns: 1fr;
          grid-auto-flow: row;

          h3 {
            font-size: 1.75rem;
            line-height: 1.25;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
</style>
