---
import { Image } from "astro:assets";
import threeDModelClay from "../../images/3d-model-clay.webp";
import threeDModel from "../../images/3d-model.webp";
---

<section id="herospot-section">
  <div class="herospot-container">
    <h2 class="herospot">
      Building helpful
      <div class="model-container">
        <div class="model">
          <div class="model-buttons">
            <p></p>
            <p></p>
            <p></p>
          </div>
          <Image
            src={threeDModelClay}
            id="model-clay"
            class="model-clay"
            alt="3D image"
            title="3D image with a clay look"
            style="transform: 'translateX(0px) translateY(0px)'"
          />
          <Image
            src={threeDModel}
            id="model-rendered"
            class="model-rendered"
            alt="3D image rederended with texture"
            title="3D image rederended with a furry texture and a chrome texture"
            style="transform: 'translateX(0px) translateY(0px)'"
          />
          <div style="clear: 'both'; width: '100%'"></div>
        </div>
        <span>web apps</span>
      </div>
      <div class="mobileTitle">Building helpful web apps</div>
    </h2>
    <div class="manchet">
      <p>
        I’m a frontend developer. I make web apps nice to use and look at.
        Working at KeyShot.
      </p>
    </div>
  </div>
</section>

<script>
  var herospotSection = document.getElementById("herospot-section");
  var modelClay = document.getElementById("model-clay");
  var modelRendered = document.getElementById("model-rendered");

  var isTouchDevice = "ontouchstart" in window || navigator.maxTouchPoints > 0;

  if (!isTouchDevice) {
    herospotSection!.addEventListener("mousemove", (event: MouseEvent) => {
      var customOffsetX = 50,
        customOffsetY = 40,
        x = (event.pageX - window.innerWidth) / 10 + customOffsetX,
        y = (event.pageY - window.innerHeight) / 10 + customOffsetY;
      modelClay!.style.transform = "translate(" + x + "px," + y + "px)";
      modelRendered!.style.transform = "translate(" + x + "px," + y + "px)";
    });

    herospotSection!.addEventListener("mouseleave", (event: MouseEvent) => {
      modelClay!.style.transform = "translate(0px,0px)";
      modelRendered!.style.transform = "translate(0px,0px)";
    });
  } else {
    window.addEventListener("scroll", (event: Event) => {
      var opacity = window.scrollY / 100;
      modelRendered!.style.opacity = opacity + "";
    });
  }
</script>

<style lang="scss">
  section#herospot-section {
    min-height: 68vh;
    min-height: 68dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 0 30px;
  }

  .herospot {
    text-align: center;
    font-size: 7.5vw;
    cursor: default;
    font-weight: normal;
    font-family: var(--headerFont);
    color: var(--main-color);
  }

  .mobileTitle {
    display: none;
  }

  .model {
    position: relative;
    background-color: rgb(229, 229, 229);
    background-color: linear-gradient(
      150deg,
      rgba(229, 229, 229, 1) 0%,
      rgba(200, 200, 200, 1) 100%
    );
    width: 32vw;
    height: 16vw;
    display: inline-table;
    border-radius: 12px;
    margin-right: 32px;
    top: 20px;

    transition:
      all 0.3s none,
      transform 0.6s ease-out;
  }

  .safari .model {
    top: 0vw;
  }

  .model-container {
    display: flex;
    justify-content: center;
    gap: 3vw;

    span {
      line-height: 1;
    }
  }

  .model-buttons {
    position: absolute;
    display: grid;
    grid-gap: 4px;
    margin: 15px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .model-buttons p {
    background-color: color-mix(in srgb, var(--main-color) 20%, transparent);
    width: 10px;
    height: 10px;
    border-radius: 16px;
    margin: 0px;
  }

  .model-clay,
  .model-rendered {
    position: absolute;
    width: 100%;
    margin-top: -50px;
    transition: transform 1s ease-out;
  }

  .model-rendered {
    opacity: 0;
  }

  .model-clay {
    opacity: 1;
  }

  .manchet {
    margin-left: 54%;
    width: 30%;
    font-size: 1.8rem;
    margin-top: -6vw;
  }

  @media (hover: hover) {
    #herospot-section:hover .model-rendered {
      opacity: 1;
      transition:
        opacity 0.2s ease-out,
        transform 0.1s ease-out;
    }

    #herospot-section:hover .model-clay {
      opacity: 0;
      transition:
        opacity 0.01s ease-out 0.4s,
        transform 0.1s ease-out;
    }

    #herospot-section:hover .model {
      background-color: color-mix(in srgb, var(--main-color) 20%, transparent);
    }

    #herospot-section:hover .model-buttons p {
      background-color: color-mix(in srgb, var(--main-color) 100%, transparent);
    }
  }

  @media only screen and (max-width: 1200px) {
    .herospot {
      font-size: 0vw;
    }

    .model {
      width: 60vw;
      height: 34vw;
      transform: scale(0.8);
    }

    .model-clay,
    .model-rendered {
      width: 90%;
      margin: -40px 0 0 10%;
    }

    .mobileTitle {
      display: block;
      font-size: 10vw;
      line-height: 1;
      margin-top: 30px;
    }

    .manchet {
      clear: both;
      margin: 40px auto;
      width: 70%;
      text-align: center;

      .button {
        margin: 40px auto;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .mobileTitle {
      font-size: 12vw;
    }

    .manchet {
      font-size: 1.5rem;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 0px;

      .button {
        margin: 30px auto;
      }
    }
  }
</style>
