---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title + " - Steffen Muldbjerg"} description={description}>
  <div class="global-wrapper">
    <article class="blog-post">
      <section class="section">
        <p class="meta">
          <FormattedDate date={pubDate} />
        </p>
        <h1 class="title">{title}</h1>
        <slot />
      </section>
    </article>
  </div>
</BaseLayout>

<style lang="scss">
  .blog-post {
    width: 60%;
    margin: 0 auto;
    padding-top: 160px;

    h1 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.1;
      font-family: var(--headerFont);
      text-align: center;
      width: 80%;
      margin: 0 auto 60px;
      color: var(--main-color);
    }

    .meta {
      padding: 10px 0 8px 0;
      text-align: center;
      color: color-mix(in srgb, var(--main-color) 50%, transparent);
    }

    .postContent {
      width: 80%;
    }
  }

  // MEDIUM SIZE SCREENS
  @media only screen and (max-width: 1100px) {
    .blog-post {
      width: 80%;

      h1 {
        width: 100%;
      }
    }
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 640px) {
    .blog-post {
      width: 100%;

      h1 {
        font-size: 2.5rem;
      }

      .postContent {
        width: 100%;
      }
    }
  }
</style>

<style is:global lang="scss">
  .blog-post {
    font-size: 1.5rem;

    .multiply img {
      mix-blend-mode: multiply;
    }

    p {
      margin-top: 1.6rem;
    }

    h2 {
      display: inline-block;
      font-size: 2.2rem;
      margin-top: 4rem;
      font-weight: bold;
      line-height: 1.1;
    }

    img,
    video {
      transform: scale(1.08);
      margin: 55px 0 45px;
    }

    p:has(code),
    pre.astro-code:has(code) {
      background-color: color-mix(
        in srgb,
        var(--background-color),
        #000 7.5%
      ) !important;
      padding: 30px;
      font-size: 70%;
      border-radius: 8px;
      margin: 8px -30px 32px;
      overflow-x: auto;
      color: var(--main-black) !important;

      @media (prefers-color-scheme: dark) {
        background-color: color-mix(
          in srgb,
          var(--background-color),
          #000 30%
        ) !important;
      }
    }
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 640px) {
    .blog-post {
      font-size: var(--font-size);

      h2 {
        font-size: 1.6rem;
        margin-top: 3.2rem;
      }
    }
  }
</style>
