---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;

const title = "What I'm doing now - Steffen Muldbjerg";
const description = "";
---

<BaseLayout title={title} description={description}>
  <div class="global-wrapper">
    <article class="now-page">
      <section class="section">
        <h1>What I'm doing right now</h1>

        <slot />

        <p id="now-page-credit">
          This is a <a
            href="https://nownownow.com/about"
            target="_blank"
            rel="noopener noreferrer">now page</a
          >, inspired by <a
            href="https://sive.rs/now"
            target="_blank"
            rel="noopener noreferrer">Derek Sivers</a
          >.
        </p>
      </section>
    </article>
  </div>
</BaseLayout>

<style lang="scss">
  .now-page {
    width: 60%;
    margin: 0 auto;
    padding-top: 200px;

    .postContent {
      width: 80%;
    }

    h1 {
      font-size: 3rem;
      text-align: center;
      line-height: 1.1;
      font-family: var(--headerFont);
      color: var(--main-color);
    }

    #now-page-credit {
      font-size: 1.25rem;
      margin-top: 10rem;
      font-weight: normal;
      line-height: 1.1;
      color: var(--main-color);
    }
  }

  // MEDIUM SIZE SCREENS
  @media only screen and (max-width: 1100px) {
    .now-page {
      width: 80%;

      h1 {
        width: 100%;
      }
    }
  }

  // SMALL SIZE SCREENS
  @media only screen and (max-width: 640px) {
    .now-page {
      width: 100%;

      h1 {
        font-size: 2.5rem;
      }

      .postContent {
        width: 100%;
      }
    }
  }
</style>

<style is:global lang="scss">
  .now-page {
    font-size: 1.6rem;

    p {
      margin-top: 1rem;
    }

    #update-message {
      font-size: 1.25rem;
      margin: 1rem 0 5rem;
      font-weight: normal;
      line-height: 1.1;
      color: var(--main-color);
      text-align: center;
    }

    h2 {
      font-size: 1.17em;
      margin: 3rem 0 0;
      line-height: 1.1;
    }
  }
</style>
