.content {
  width: 60%;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 200px;
    width: 65%;
  }

  .meta {
    opacity: 0.5;
    padding: 10px 0 20px 0;
  }

  .postContent {
    width: 80%;

    ::ng-deep .multiply img {
      mix-blend-mode: multiply;
    }

    ::ng-deep a,
    ::ng-deep a:visited {
      color: #bd661f;
    }

    ::ng-deep p {
      margin-top: 20px;
    }

    ::ng-deep h2 {
      font-size: 1.4em;
      margin-top: 48px;
      font-weight: bold;
      line-height: 1.1;
    }

    ::ng-deep p:has(code) {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 30px;
      font-size: 80%;
      border-radius: 8px;
      margin-bottom: 32px;
    }
  }
}

// MEDIUM SIZE SCREENS
@media only screen and (max-width: 1100px) {
  .content {
    width: 80%;

    h1 {
      width: 100%;
    }
  }
}

// SMALL SIZE SCREENS
@media only screen and (max-width: 640px) {
  .content {
    width: 100%;

    h1 {
      font-size: 2.5rem;
    }

    .postContent {
      width: 100%;
    }
  }
}
