footer.footer-container {
  display: grid;
  grid-template-columns: 1fr 240px 140px;
  column-gap: 42px;
  margin-top: 400px;
  padding-bottom: 50px;

  .footer-content {
    p {
      font-size: 1.5rem;
      max-width: 600px;
    }

    .colophon {
      font-size: 1.125rem;
      margin-top: 32px;
    }

    ul.social-links {
      margin-top: 120px;
      padding: 0px;

      li {
        display: inline-block;
        transform: translateX(-24px);

        a {
          font-family: "Ortica", serif;
          padding: 8px 24px;
          color: var(--main-green);
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 40px;
          transition: all 0.1s ease;
          margin-right: 16px;

          @media (hover: hover) {
            &:hover {
              background-color: #f5fdf1;
              border: 1px solid var(--main-green);
            }
          }
        }
      }
    }
  }

  .footer-illustration {
    mix-blend-mode: color-burn;
  }
}

// MEDIUM SIZE SCREENS
@media only screen and (max-width: 1100px) {
  footer.footer-container {
    grid-template-columns: 1fr 240px;
  }
}

@media only screen and (max-width: 890px) {
  footer.footer-container {
    .footer-content {
      ul.social-links {
        margin-top: 60px;

        li {
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}

// SMALL SIZE SCREENS
@media only screen and (max-width: 770px) {
  footer.footer-container {
    margin-top: 200px;
    grid-template-columns: 1fr;

    .footer-content {
      ul.social-links {
        margin-top: 60px;
        text-align: center;

        li {
          display: inline-block;
          margin-top: 0px;
        }
      }
    }

    .footer-illustration {
      img {
        float: right;
        max-width: 40%;
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer.footer-container {
    .footer-content {
      ul.social-links {
        text-align: left;

        li {
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}
