<footer>
  <div class="global-wrapper">
    <h2>Steffen Østerby Muldbjerg</h2>
    <div class="footer-info">
      <div class="year">{{ this.year }}</div>
      <ul>
        <li>
          <a href="https://www.instagram.com/muldbjerg/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://dribbble.com/muldbjerg" target="_blank">Dribbble</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/steffen-%C3%B8sterby-muldbjerg-b7b67421/"
            target="_blank"
            >Linkedin</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
