footer {
  margin-top: 400px;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    font-size: 7vw;
    font-weight: 400;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 1fr auto;
    font-family: "Ortica";
    font-weight: 400;
    // font-size: 3.75rem;
    align-items: center;
    color: #49653f;

    .year {
      text-align: center;
    }

    ul {
      margin-right: 80px;
      li {
        display: inline-block;

        a,
        a:visited {
          color: #49653f;
          display: block;
          padding: 20px;
          text-decoration: none;
        }
      }
    }
  }
}

// MEDIUM SIZE SCREENS
@media only screen and (max-width: 1100px) {
  footer {
    .footer-info {
      ul {
        margin-right: none;

        li a,
        li a:visited {
          padding: 12px;
        }
      }
    }
  }
}

// SMALL SIZE SCREENS
@media only screen and (max-width: 640px) {
  footer {
    margin-top: 200px;

    .footer-info {
      grid-template-columns: 1fr;

      .year {
        display: none;
      }

      ul {
        margin: 0 auto;
        padding: 0px;
      }
    }
  }
}
