<div class="global-wrapper">
  <footer class="footer-container">
    <div class="footer-content">
      <p>
        I’m Steffen Østerby Muldbjerg, frontend developer at Luxion. I build
        digitial products on the web. I believe digital products should be
        effectlessly simple to use.
      </p>
      <p class="colophon">
        This site is built on Angular Universal, hosted on Netlify, and typeset
        in Apfel Grotezk and Ortica both by Collletttivo.
      </p>
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/muldbjerg/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://dribbble.com/muldbjerg" target="_blank">Dribbble</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/steffen-%C3%B8sterby-muldbjerg-b7b67421/"
            target="_blank"
            >Linkedin</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-illustration">
      <img src="assets/images/footer-illu.webp" alt="" />
    </div>
  </footer>
</div>
